*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    text-align: center;
    background-color: rgba(40, 4, 107, 0.453);
}
.section{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid rgb(170, 169, 169);
    border-radius: 5px;
}
.title{
    font-size: 3rem;
    color:rgb(114, 31, 152);
    margin-top: 2rem;
}
.parrafo{
    margin: 1.3rem;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parrafoDiv{
    color: rgb(39, 40, 39);
}
.boton{
    height: 1.3rem;
    margin-top: 1rem;
    margin-bottom: .3rem;
    border: none;
    border-radius: 2px;
    background-color: rgb(56, 58, 58);
    color: #fff;
    cursor: pointer;
}
.btna{
    width: 3.7rem;
}
.boton1{
    width: 8rem;
}
.boton2{
    width: 3.5rem;
}
/* Estilos del formulario*/
.formulario{
    width: 75%;
    margin: auto;
}
.div_form{
    margin-top: 1rem;
}
.textoLabel{
    display: block;
    margin: auto;
    font-size: 1.3rem;
}
.datos{
    width: auto;
    height: 1.3rem;
    margin-left: 4;
    border: none;
    border-radius: 2px;
}
.datos1{
    width: 11rem;
}